:root {
	--form-wrapper-bg: #EFEFEF;
	--form-text: #3A3939;
	--form-bg: #fff;
	--input-focus: #3A3939;
	--selection: #EFEFEF;

}
.dark {
	--form-wrapper-bg: #3C3C3C66;
	--form-text: #fff;
	--selection: #3A3939;
	--form-bg: #000;
	--input-focus: #f8f8f8;
}
.next__btn {
	display: block;
	width: 100%;
	height: fit-content;
	padding: 16px 32px;
	font-family: inherit;
	font-size: 16px;
	line-height: 28px;
	font-weight: 500;
	color: #fff;
	background-color: #205bc9;
	border: 1px solid #205bc9;
	border-radius: 50px;
	text-align: center;
	transition: 0.2s ease-in-out;
	&:hover {
		background-color: var(--blue-light);
		border-color: var(--blue-light);
	}
	&.btn-none {
		max-width: 280px;
		padding: 16px;
		user-select: none;
		pointer-events: none;
		@media (max-width: 768px) {
			max-width: 480px;
			width: 100%;
		}
	}
	@media (max-width: 1830px) {
		font-size: 1.105vw;
		line-height: 1.538vw;
	}
	@media (max-width: 1440px) {
		font-size: 1.25vw;
		line-height: 1.5625vw;
	}
	@media (max-width: 992px) {
		font-size: 18px;
		line-height: 24px;
	}
}
.form__body {
	overflow-y: auto;
	background: var(--form-bg);
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	@media (max-width: 1366px) {
		padding: 0 1rem;
	}
	@media (max-width: 1024px) {
		padding: 0 1rem;
	}
	@media (max-width: 820px) {
		padding: 0 1rem;
	}
	@media (max-width: 430px) {
		justify-content: flex-start;
	}
}
::-webkit-scrollbar {
	display: none;
}
.form__main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: max-content;
	width: fit-content;
	background: var(--form-wrapper-bg);
	border-radius: 30px;

	@media (max-width: 1366px) {
		min-height: 630px;
		padding: 0;
	}
	@media (max-width: 768px) {
		padding: 0;
		min-height: max-content;
		max-height: max-content;
		height: max-content;
	}
	@media (max-width: 430px) {
		background: #000;
		height: 100%;
	}

	.form__left {
		width: 50%;
		min-height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		background: #205bc9;
		border-radius: 30px;
		padding: 62px 62px 20px 62px;
		position: relative;
		gap: 40px;

		@media (max-width: 768px) {
			display: none;
		}

		.back_btn {
			width: fit-content;
			position: absolute;
			top: 30px;
			left: 40px;

			a {
				background: rgb(255, 255, 255);
				border-radius: 50%;
				width: 40px;
				height: 40px;
				display: flex;
				align-items: center;
				justify-content: center;

				img {
					max-width: 20px;
					height: 20px;
					width: auto;
					object-fit: contain;
				}
			}
		}

		.form__img {
			width: 100%;
			padding-bottom: 10px;
			flex-grow: 1;
			display: flex;
			align-items: center;
			justify-content: center;

			@media (min-width: 1920px) {
				max-width: 690px;
				height: auto;
				width: 100%;
			}
			@media (min-width: 1366px) {
				max-width: 350px;
				height: auto;
				width: 100%;
			}
			@media (max-width: 820px) {
				padding: 7rem 0 0 0;
			}

			img {
				width: 100%;
				object-fit: contain;
			}
		}

		.socials {
			width: 100%;
			display: flex;
			align-items: flex-start;
			flex-direction: column;
			gap: 25px;
			padding-bottom: 2rem;

			&__logo {
				max-width: 150px;
				width: 100%;
				object-fit: contain;
				object-position: center;

				@media (max-width: 1366px) {
					max-width: 100px;
				}
			}

			span {
				color: rgb(255, 255, 255);
				font-family: inherit;
				font-size: 32px;
				font-weight: 500;

				@media (max-width: 1366px) {
					font-size: 25px;
				}
			}

			&__icons {
				display: flex;
				align-items: center;
				gap: 28px;

				img {
					cursor: pointer;

					@media (max-width: 1366px) {
						max-width: 40px;
					}
				}
			}
		}
	}

	.form__right {
		width: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 1rem;
		position: relative;

		.form__close {
			position: absolute;
			top: 30px;
			right: 40px;
			border: 1px solid #333333;
			background: #181818;
			font-size: 1rem;
			border-radius: 50%;
			width: 40px;
			height: 40px;
			display: flex;
			align-items: center;
			justify-content: center;

			@media (min-width: 1920px) {
				border: none;
				top: 30px;
			}
			@media (max-width: 1366px) {
				border: none;
				top: 18px;
			}
			@media (max-width: 430px) {
				border: none;
				top: 60px;
				right: 13px;
			}
			@media (max-width: 375px) {
				border: none;
				top: 28px;
			}

			img {
				width: 25px;
				height: auto;
				object-fit: contain;
			}
		}

		@media (max-width: 768px) {
			width: 100%;
			padding: 3.25rem 1rem 0 1rem;
		}
		@media(max-width:540px) {
			padding: 0 1rem;	
		}

		.form__wrapper {
			max-width: 349px;
			height: 100%;
			width: max-content;
			padding: 1rem 0 1.2rem 0;
			color: #fff;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			gap: 40px;
			
			::selection {
				background: var(--input-focus);
				color: var(--selection);
			}


			@media (min-width: 1920px) {
				justify-content: space-between;
				height: 100%;
				padding: 2rem 0;
			}
			@media (max-width: 1366px) {
				gap: 18px;
			}
			@media (max-width: 1024px) {
				gap: 20px;
				padding: 1rem 0;
			}
			@media (max-width: 820px) {
				padding: 1rem 0;
			}
			@media (max-width: 768px) {
				gap: 30px;
				padding: 2.7rem 1rem 0 1rem;
			}
			@media (max-width:540px) {
				gap: 20px;	
			}
			@media (max-width: 430px) {
				max-width: 330px;
			}
			@media (max-width: 375px) {
				gap: 22px;
				max-width: 310px;
			}
			@media (max-width: 320px) {
				gap: 20px;
				max-width: 285px;
			}

			&.login__wrapper {
				@media (max-width: 375px) {
					gap: 20px;
				}
				@media (max-width: 768px) {
					padding: 2.7rem 1rem 0 1rem;
				}
			}

			&-title {
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 20px;

				@media (min-width: 1440px) {
					padding: 1rem 0 0 0;
				}
				@media (min-width: 1920px) {
					padding: 1rem 0 0 0;
				}
				@media (max-width: 430px) {
					padding: 1rem 0 1rem 0;
				}

				.mobile__logo {
					max-width: 150px;
					width: auto;
					height: auto;

					@media (max-width: 768px) {
						max-width: 180px;
						width: auto;
						height: auto;
						display: flex;
						flex-direction: column;
						align-self: center;
					}
				}

				h1 {
					font-family: inherit;
					text-align: center;
					font-size: 42px;
					font-weight: 500;
					line-height: 52px;
					color: #fff;
					display: none;

					@media (max-width: 1024px) {
						font-size: 38px;
					}
					@media (max-width: 768px) {
						font-size: 35px;
						line-height: 44px;
					}
					@media (max-width: 430px) {
						font-size: 30px;
						display: none;
					}

					b {
						font-weight: 500;
						color: #3f7ef3;
					}
				}
			}

			.switch-mode {
				display: flex;
				align-items: center;
				justify-content: space-between;
				gap: 0.5rem;

				a {
					min-height: 42px;
					min-width: 165px;
					padding: 0 10px;
					display: flex;
					align-items: center;
					justify-content: center;
					color: var(--form-text);
					font-family: inherit;
					font-size: 20px;
					font-weight: 500;
					line-height: 28px;
					border-radius: 10px;
					transition: background-color 0.3s ease-in-out;

					@media (max-width: 1280px) {
						font-size: 18px;
						min-height: 32px;
						min-width: 165px;
					}
					@media (max-width: 768px) {
						font-size: 16px;
						min-height: 35px;
					}
					@media (max-width: 425px) {
						font-size: 15px;
					}
					@media (max-width: 375px) {
						font-size: 14px;
						min-height: 35px;
						min-width: 140px;
					}

					&.active {
						background-color: #205bc9;
						color: #fff;
					}
				}
			}

			.form {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 40px;

				@media (max-width: 1366px) {
					gap: 20px;
				}
				@media (max-width: 820px) {
					gap: 40px;
				}
				@media(max-width:540px) {
					gap: 20px;	
				}
				@media (max-width: 430px) {
					gap: 40px;
				}
				@media (max-width: 375px) {
					gap: 23px;
				}

				&.login__form {
					@media (max-width: 375px) {
						gap: 20px;
					}
				}

				input[type='text'],
				input[type='password'] {
					font-family: inherit;
					font-size: 20px;
					font-weight: 400;
					line-height: 28px;
					width: 100%;
					padding: 14px 0 14px 12px;
					outline: 1px solid #515151;
					border-radius: 10px;
					background: transparent;
					color: var(--input-focus);

					@media (max-width: 1366px) {
						padding: 10px 0 10px 12px;
					}
					@media (max-width: 1280px) {
						padding: 10px 0 10px 10px;
					}
					@media (max-width: 768px) {
						font-size: 16px;
						padding: 7px 0 7px 12px;
					}

					&:focus {
						outline: 1px solid var(--input-focus);
					}

					// &.invalid {
					// 	outline: 1px solid #c14242;

					// 	&:focus {
					// 		outline: 1px solid rgb(248, 248, 248);
					// 	}
					// }

					&::placeholder {
						color: #888888;
						font-size: 16px;
					}
				}

				.referal__input {
					@media (max-width: 768px) {
						font-size: 14px;
						padding: 7px 0 7px 12px;
					}
				}

				.password__wrapper {
					position: relative;
					width: 100%;

					span {
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						right: 12px;
					}
				}

				a {
					width: 100%;
					padding: 12px 0;
					border-radius: 50px;
					color: #fff;
					font-family: inherit;
					font-size: 20px;
					font-weight: 500;
					line-height: 28px;
					background: #c9c9c9;
					transition: background 0.3s ease-in-out;
					text-align: center;
					@media (max-width: 1280px) {
						padding: 10px 0;
					}
					@media (max-width: 768px) {
						font-size: 16px;
					}
					@media (max-width: 375px) {
						padding: 9px 0;
					}

					&.valid {
						background: #205bc9;
						cursor: pointer;
					}
				}

				.referalID__wrapper {
					width: 100%;
					display: flex;
					flex-direction: column;
					gap: 10px;

					.referalID {
						width: 100%;
						display: flex;
						align-items: center;
						justify-content: space-between;

						p {
							font-size: 14px;
							font-weight: 400;
							line-height: 20px;
							color: var(--form-text);
							@media (max-width: 1280px) {
								line-height: 10px;
							}
						}

						.checkbox {
							position: absolute;
							-webkit-appearance: none;
							-moz-appearance: none;
							appearance: none;

							&-label {
								cursor: pointer;
								position: relative;
								display: block;
								width: 60px;
								height: 30px;
								border-radius: 20px;
								background: #fff;

								&:before {
									position: absolute;
									left: 2px;
									top: 2px;
									display: block;
									content: '';
									width: 26px;
									height: 26px;
									border-radius: 50%;
									background: #205bc9;
									transition: 0.3s;
								}
							}
						}
						.checkbox:checked + .checkbox-label {
							background-color: #205bc9;
						}
						.checkbox:checked + .checkbox-label:before {
							left: calc(100% - 30px);
							background-color: #fff;
						}
					}
				}

				.privacy {
					width: 100%;
					font-family: inherit;
					color: #fff;

					.checkbox {
						position: absolute;
						-webkit-appearance: none;
						-moz-appearance: none;
						appearance: none;
					}

					.checkbox-label {
						cursor: pointer;
						display: flex;
						align-items: center;
						justify-content: space-between;
						gap: 18px;

						p {
							font-size: 16px;
							font-weight: 400;
							line-height: 20px;
							color: var(--form-text);

							@media (max-width: 1024px) {
								font-size: 14px;
							}

							b {
								color: #3f7ef3;
							}
						}
					}

					.checkbox-view {
						display: flex;
						align-items: center;
						justify-content: center;
						min-width: 15px;
						min-height: 15px;
						border: 1px solid #515151;
						background: #ffffff00;
						transition: 0.3s;
					}

					.checkbox-icon {
						opacity: 0;
						transition: 0.3s;
					}

					.checkbox:checked + .checkbox-view {
						background-color: rgba(0, 0, 0, 0);
					}

					.checkbox:checked + .checkbox-view .checkbox-icon {
						opacity: 1;
					}
				}
			}

			.forgot {
				color: #3f7ef3;
				font-family: inherit;
				font-size: 20px;
				font-weight: 400;
				line-height: 28px;
				text-align: center;

				@media (max-width: 768px) {
					font-size: 15px;
				}
			}

			.help {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 18px;

				&.login__help {
					@media (max-width: 1366px) {
						gap: 25px;
					}
					@media (max-width: 375px) {
						gap: 20px;
					}
				}
				@media (max-width: 1366px) {
					gap: 18px;
				}
				@media (max-width: 1024px) {
					gap: 20px;
				}
				@media (max-width: 768px) {
					gap: 15px;
				}
				@media(max-width:540px) {
					gap: 10px;	
				}
				@media (max-width: 430px) {
					gap: 25px;
				}
				@media (max-width: 375px) {
					gap: 20px;
				}

				p {
					display: flex;
					align-items: center;
					gap: 5px;
					color: var(--form-text);
					font-family: inherit;
					font-size: 20px;
					font-weight: 400;
					line-height: 28px;
					width: 100%;

					@media (max-width: 1366px) {
						line-height: 8px;
					}
					@media (max-width: 768px) {
						font-size: 16px;
						line-height: 12px;
					}

					span {
						display: block;
						width: 100%;
						height: 1px;
						background: var(--form-text);
					}
				}

				.mobile__google {
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 10px;
					border-radius: 50px;
					background: #ffffff;
					color: #205bc9;
					font-family: inherit;
					font-size: 20px;
					font-weight: 500;
					line-height: 28px;
					padding: 12px 0;
					width: 100%;
					cursor: pointer;
					@media (max-width: 1280px) {
						padding: 10px 0;
					}
					@media (max-width: 768px) {
						font-size: 16px;
					}
					@media (max-width: 375px) {
						padding: 9px 0;
					}

					img {
						max-width: 18px;
						width: 100%;
					}
				}

				&-signup {
					font-family: inherit;
					font-size: 20px;
					font-weight: 400;
					line-height: 28px;
					color: var(--form-text);
					padding: 0 0 1rem 0;

					@media (max-width: 1366px) {
						padding: 0;
					}
					@media (max-width: 768px) {
						font-size: 16px;
					}

					span {
						color: #3f7ef3;
					}
				}

				.socials {
					padding: 0 0 0.5rem 0;
					width: 100%;
					display: none;

					&.login__social {
						@media (max-width: 375px) {
							gap: 25px;
						}
					}

					@media (max-width: 768px) {
						display: flex;
						flex-direction: column;
						align-items: center;
						gap: 15px;
					}
					@media (max-width: 375px) {
						gap: 10px;
					}

					span {
						color: rgb(255, 255, 255);
						font-family: inherit;
						font-size: 18px;
						font-weight: 500;
						line-height: 24px;
					}

					&__icons {
						display: flex;
						align-items: center;
						gap: 28px;

						img {
							max-width: 35px;
							width: auto;
							height: auto;
							object-fit: contain;
						}
					}
				}
			}
		}

		.form__verify {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			height: max-content;
			gap: 40px;
			max-width: 400px;
			margin-top: -2rem;

			@media (max-width: 1920px) {
				margin: 0;
				padding: 3rem 0 3rem 0;
			}
			@media (max-width: 768px) {
				margin: 0;
				padding: 0.5rem 0 1rem 0;
			}

			h2 {
				/* Desktop/H2 Onest 42\52 Bold */
				color: rgb(63, 126, 243);
				font-family: inherit;
				font-size: 32px;
				font-weight: 700;
				line-height: 52px;
			}
			p,
			span {
				/* Desktop/Text-2 Onest 20\28 Regular */
				color: rgb(239, 239, 239);
				font-family: inherit;
				font-size: 16px;
				font-weight: 400;
				line-height: 28px;
			}

			&-input {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: space-between;
				gap: 24px;

				@media (max-width: 768px) {
					gap: 5px;
				}
				input {
					color: #000;
					border-radius: 10px;
					background: rgb(239, 239, 239);
					font-family: inherit;
					font-size: 32px;
					font-weight: 500;
					line-height: 40px;
					width: 40px;
					height: 50px;
				}
			}

			.form__verify-resend {
				color: #3f7ef3;
				font-family: inherit;
				font-size: 20px;
				font-weight: 400;
				line-height: 28px;
				text-align: center;
				width: 100%;
			}
		}
	}
}
